@font-face {
    font-family: poppinsbold;
    src: url(./fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: glaciabold;
    src: url(./fonts/GlacialIndifference-Bold.ttf);
}
@font-face {
    font-family: glaciaregular;
    src: url(./fonts/GlacialIndifference-Regular.ttf);
}
@font-face {
    font-family: montbold;
    src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: muli;
    src: url(./fonts/Muli.ttf);
}
@font-face {
    font-family: mulireg;
    src: url(./fonts/Muli-Regular.ttf);
}
@font-face {
    font-family: mulilight;
    src: url(./fonts/Muli-Light.ttf);
}
@font-face {
    font-family: robotolight;
    src: url(./fonts/Roboto-Light.ttf)
}
@font-face {
    font-family: robotoreg;
    src: url(./fonts/Roboto-Regular.ttf)
}
@font-face {
    font-family: poppinssemibold;
    src: url(./fonts/Poppins-SemiBold.ttf)
}
@font-face {
    font-family: japreg;
    src: url(./fonts/Jaapokki-Regular.ttf)
}
